$primary: #c0303b;
$primary-dark: #a92a34;
$text: #1a1a1c;
$text-des: #5c5f65;
$text-light: #a9abae;
$text-link: #355caa;
$error: #ff4936;
$success: #25c167;
$neutral-10: #e9eaea;
$neutral-20: #dfe0e1;
$neutral-30: #bec0c2;
$neutral-40: #a9abae;
$neutral-50: #54575d;
