$primary : #C0303B;
$primary-dark : #A92A34;
$text : #1A1A1C;
$text-des : #5C5F65;
$text-light : #A9ABAE;
$text-link : #355CAA;
$error : #FF4936;
$success : #25C167;
$neutral-10 : #E9EAEA;
$neutral-20 : #DFE0E1;
$neutral-30 : #BEC0C2;
$neutral-40 : #A9ABAE;
$neutral-50 : #54575D;
