/* Error: expected "{".
 *     ,
 * 799 | >>>>>>> b29d7b46eca6b733722f0cabae83350f8d5776c3
 *     |                                                 ^
 *     '
 *   scss\App.scss 799:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 799 \2502  >>>>>>> b29d7b46eca6b733722f0cabae83350f8d5776c3\d\a     \2502                                                  ^\a     \2575 \a   scss\\App.scss 799:49  root stylesheet';
}
